{% load i18n %}
<div class="site-footer" style="background-color: #f8f9fa!important">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="widget mb-4" style="width:400px;">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'ar' %}
                    <h3 class="mb-2 text-right">{% trans "About" %} {{shoppies.title_ar}}</h3>
                    <p class="text-right" style="text-align:justify;">{{shoppies.description_ar|slice:"200"}}</p>
                    <hr style="color:rgba(0,0,0,0.5)">
                    <div class="something" style="text-align:right ;">
                    <span class="mb-2 text-right"><strong>{% trans "Phone" %} : </strong></span>
                    <span >{{shoppies.phone}}</span>
                    <br>
                    <span class="mb-2 text-right"><strong>{% trans "Address" %} : </strong></span>
                    <span style="margin-bottom:10px;">{{shoppies.address_ar}}</span>
                    </div>
                    <hr style="color:rgba(0,0,0,0.5);margin-top:20px;">
                    {% else %}
                    <h3 class="mb-2">{% trans "About" %} {{shoppies.title}}</h3>
                    <p style="text-align:justify;">{{shoppies.description|slice:"200"}}</p>
                    <hr style="color:rgba(0,0,0,0.5)">
                    <span class="mb-2"><strong>{% trans "Phone" %} : </strong></span>
                    <span>{{shoppies.phone}}</span>
                    <br>
                    <span class="mb-2"><strong>{% trans "Address" %} : </strong></span>
                    <span>{{shoppies.address}}</span>
                    <hr style="color:rgba(0,0,0,0.5)">
                    {% endif %}
                    
                    
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget">
                    <h3>{% trans "Useful Links" %}</h3> 
                    <ul class="list-unstyled">
                        <li><a href="{% url 'ecommerce:home' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'ecommerce:all_products' %}">{% trans "All Product" %}</a></li>
                        <li><a href="{% url 'ecommerce:men' %}">{% trans "Men" %}</a></li>
                        <li><a href="{% url 'ecommerce:woman' %}">{% trans "Women" %}</a></li>
                        <li><a href="{% url 'ecommerce:children' %}">{% trans "Children" %}</a></li>   
                    </ul>
                </div>
            </div>  
            <div class="col-lg-5">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'ar' %}
                <h3 class="mb-5 text-right">{% trans "Join our mailing list and receive exclusives" %}</h3>
                {% else %}
                <h3 class="mb-5 ">{% trans "Join our mailing list and receive exclusives" %}</h3>
                {% endif %}
                

                <form action="" class="subscribe" method="post">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input type="email" class="form-control" name="email" placeholder={% trans "Email address" %}>
                        <input type="submit" class="btn btn-black" value={% trans "Subscribe" %}>
                    </div>
                </form>  
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <ul class="list-unstyled social">
                    <li><a href="{{shoppies.fb_link}}" target="_blank"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="" ><span class="icon-linkedin"></span></a></li>
                    <li><a href="{{shoppies.tw_link}}" target="_blank"><span class="icon-twitter"></span></a></li>
                </ul>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
