{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}{% trans "Check Out" %}{% endblock title %}
{% block content %}
<div class="container" style="margin-top:150px">
    <h1>{% trans "Items In Your Cart" %} </h1>
    <div class="row">
        <div class="col-md-8" style="margin-top: 40px;">
            <table class="table text.center table-dark table-hover p-5" >
                <tr>
                    <th scope="col">{% trans "SN" %}</th>
                    <th scope="col">{% trans "Product Name" %}</th>
                    <th scope="col">{% trans "Product Price" %}</th>
                    <th scope="col">{% trans "Quantity" %}</th>
                    <th scope="col">{% trans "Total Price" %}</th>
                </tr>
                {% for item in cart.cartproduct_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.product.title }}</td>
                    <td>$ {{ item.product.price_after_discount }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.subtotal }}</td>
                </tr>
                {% endfor %}
                <tr class="mt-3">
                    {% get_current_language as LANGUAGE_CODE %}
                     {% if LANGUAGE_CODE == 'ar' %}
                    <th collapse="4" class="text-right pt-3"> : السعر النهائي </th>
                    <th class="pt-3"> {{cart.total}} $</th>
                    {% else %}
                    <th collapse="4" class="text-right pt-3">Total : </th>
                    <th class="pt-3"> $ {{cart.total}}</th>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success col-md-12">{% trans "checkout" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}