{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}{% trans "Check Out" %}{% endblock title %}
{% block content %}

    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'ar' %}
    <div class="card my-5" >
        <div class="row">
            <div class="col-md-8 cart" style="border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;">
                <div class="title">
                    <div class="row">
                        <div class="col text-right"><h4><b>منتجات حقيبة التسوق</b></h4></div>
                        <div class="col align-self-center text-left text-muted"> عدد وحدات الحقيبة :  {{cart.cartproduct_set.all|length}}</div>
                    </div>
                </div>  
                {% for item in cart.cartproduct_set.all %}  
                    {% if item.id|divisibleby:2 == 1 %}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2 text-right"><img class="img-fluid" src="{{item.product.image.url}}"></div>
                            <div class="col text-right">
                                <div class="row text-right">{{ item.product.title_ar }}</div>
                                <div class="row text-muted">{{ item.product.category.title_ar}}</div>
                            </div>
                            <div class="col text-left">$ {{ item.subtotal }}</div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="row main align-items-center">
                            <div class="col-2 text-right"><img class="img-fluid" src="{{item.product.image.url}}"></div>
                            <div class="col text-right"><div class="row">{{ item.product.title_ar }}</div><div class="row text-muted">{{ item.product.category.title_ar}}</div></div>
                            <div class="col text-left"> {{ item.subtotal }} $</div> 
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="back-to-shop" ><a class="text-right" href="{% url 'ecommerce:cart' %}">&rightarrow;<span class="text-muted">العودة الي حقيبة التسوق </span></a></div>
            </div>
            
    
            <div class="col-md-4 summary" style="border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;border-top-right-radius: 0;border-bottom-right-radius: 0;">
                <div><h5 class="text-right"><b class="text-right">بيانات الدفع</b></h5></div>
                <hr>
                <form action="" method="post" class="text-right">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-warning col-md-12">ادفع الان</button>
                </form>
                
               
            </div>
        </div>
    </div>
    {% else %}
    <div class="card my-5" >
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>{% trans "Items In Shopping Cart" %}</b></h4></div>
                        <div class="col align-self-center text-right text-muted">{{cart.cartproduct_set.all|length}} {% trans "items" %}</div>
                    </div>
                </div>  
                {% for item in cart.cartproduct_set.all %}  
                    {% if item.id|divisibleby:2 == 1 %}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="{{item.product.image.url}}"></div>
                            <div class="col">
                                <div class="row">{{ item.product.title }}</div>
                                <div class="row text-muted">{{ item.product.category}}</div>
                            </div>
                            <div class="col text-right">$ {{ item.subtotal }} </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="{{item.product.image.url}}"></div>
                            <div class="col">
                                <div class="row">{{ item.product.title }}</div>
                                <div class="row text-muted">{{ item.product.category}}</div>
                            </div>
                            <div class="col">$ {{ item.subtotal }}</div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="back-to-shop"><a href="{% url 'ecommerce:cart' %}">&leftarrow;<span class="text-muted">Back to shopping cart</span></a></div>
            </div>
            
    
            <div class="col-md-4 summary">
                <div><h5><b>Checkout Form</b></h5></div>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-warning col-md-12">{% trans "checkout" %}</button>
                </form>
                
            </div>
        </div>
    </div>
    {% endif %}
    
    {% include 'snippets/cart_style.html' %}   
{% endblock content %}