<!-- 
      [*] This Page inherited from The Base Page In Base Template 
-->
{% extends 'base.html' %}

  <!-- 
      [1] Loading Static And I18n To Use Staticfiles and Translations
  -->
  {% load static i18n %}

  <!-- 
      [2] Page Title With Translation
  -->
  {% block title %}
    {% trans "Home" %}
  {% endblock title %}

  <!-- 
      [3] Home Page Content 
  -->
  {% block content %}
    
    <!-- 
      [*] Slider Part In Home Page
    -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          {% for slide in sliders %}
            {% if slide.id == 1 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            <img class="d-block w-100" src="{{slide.image.url}}" style="opacity:0.6;" alt="...">
            <div class="carousel-caption d-none d-md-block" style="top:30%">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'ar' %}
                <h1 class="mb-5" style="color:black;"><q> {{slide.title_ar}} </q></h1>
                {% else %}
                <h1 class="mb-5" style="color:black;"><q> {{slide.title}} </q></h1>
                {% endif %}
                <a href="{% url 'ecommerce:all_products' %}" class="btn btn-dark btn-lg" >{% trans "Shop Now" %}</a>
            </div>
            </div>
            {% endfor %}
          
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- 
      [*] Active Slider and Sliding Time Settings using JavaScript
    -->
    <script>
      $('.carousel').carousel({
        interval: 1000 * 10,
      });
    </script>
    

    <!-- 
      [*] Our Products Part In Home Page  
    -->
    <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
              <h1 class="text-center mb-5">{% trans "Our Products" %}</h1>
          </div>
          <div class="row g-4 portfolio-container">
            {% for product in products|slice:"6"  %}
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden" style="height: 350px;">
                          <img class="img-fluid w-100" style="height: 100%;width:100%;" src="{{product.image.url}}" alt="">
                          <div class="portfolio-overlay">
                              <a style="font-size:18px;font-weight: 700;border-radius:25px;padding:12px;" class="btn btn-outline-light mx-1" href="{% url 'ecommerce:add_to_cart' product.id %}">Add To Cart<i class="medium material-icons ml-3" style="position:relative;top:5px;">add_shopping_cart</i></a>
                          </div>
                      </div>
                      <div class="bg-light p-4">
                          {% get_current_language as LANGUAGE_CODE %}
                          {% if LANGUAGE_CODE == 'en' %}
                          <a style="text-decoration:none;color:black;" href="{% url 'ecommerce:product_details' product.id %}"><h5 class="lh-base mb-0 text-center">{{product.title}}</h5></a>
                          {% elif LANGUAGE_CODE == 'ar' %}
                          <a style="text-decoration:none;color:black;" href="{% url 'ecommerce:product_details' product.id %}"><h5 class="lh-base mb-0 text-center">{{product.title_ar}}</h5></a>
                          {% endif %}
                        <div class="price text-center">
                          {% if product.discound > 0 %}
                          <span class="ml-3"><del>£ {{product.price}}</del> __ </span>
                          <span>£ {{product.price_after_discount}}</span>
                          {% else %}
                          <span>£ {{product.price}}</span>
                          {% endif %}
                          
                        </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
          </div>
      </div>
    </div>

    <!-- 
      [*] Our Offer Part In Home Page  
    -->
    <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
              <h1 class="text-center mb-5">{% trans "Our Offers" %}</h1>
          </div>
          <div class="row py-5" style="background-image: url({{offers.image.url}});opacity: 0.8;background-position: center;background-size: cover;text-align:center;height:500px;display: flex;justify-content: center;align-items: center;border-radius: 25px;"> 
            <div class="deal-contents text-center" style="text-align:center;">
              <span class="subtitle">{% trans "Limited Offers" %} {{offers.rate}}% {% trans "OFF" %}</span>
              {% get_current_language as LANGUAGE_CODE %}
              {% if LANGUAGE_CODE == 'ar' %}
                <h2 class="title mb-4 text-light">{{offers.title_ar}}</h2>
                <p class="mb-5">{{offers.description_ar}}</p>
              {% else %}
                <h2 class="title mb-4 text-light">{{offers.title}}</h2>
                <p class="mb-5">{{offers.description}}</p>
              {% endif %}
              <a href="{% url 'ecommerce:all_products' %}" class="btn btn-black">{% trans "Shop Now" %}</a>
            </div>
          </div>
      </div>
    </div>
    
    <!-- 
      [*] Our Services Part In Home Page  
    -->
    <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
              <h1 class="text-center mb-5">{% trans "Our Services" %}</h1>
          </div>
          <div class="row align-item-stretch mb-5 text-center item-center">
              {% for ac in about_company|slice:"3" %}
              
                <div class="card col feature m-2" style="height:250px;">
                  <div class="icon mb-4">
                    <i class="large material-icons">{{ac.icon_name}}</i>
                  </div>
                  {% get_current_language as LANGUAGE_CODE %}
                      {% if LANGUAGE_CODE == 'ar' %}
                      <h3>{{ac.title_ar}}</h3>
                      <p>{{ac.description_ar}}</p>
                      {% else %}
                      <h3>{{ac.title}}</h3>
                    <p>{{ac.description}}</p>
                      {% endif %}
                </div>
            
              {% endfor %}
          </div>
      </div> <!-- /.container -->
    </div> 

  {% endblock content %}  